*{
    margin: 0px;
}

body{
    background-color: #181818;
    color: white;
}

.navbar{
    border: 1px solid black;
    height: 56px;
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: #121111;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-ele span{
    color: white;
    font-size: 13px;
}

.logo{
    position: relative;
    z-index: 3;
    height: 95px;
}

.nav-ele{
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.nav-ele a{
    color: white;
    text-decoration: none;
}

.join-btn{
    background-color: red;
    color: white;
    border: none;
    padding: 9px 40px;
    border-radius: 3px;
    margin-left: 10px;
    font-size: 17px;
}

.sgn-btn{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 9px 25px;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 17px;
}

.content{
    background-color: #181818;
    background-image: url('https://occ-0-2087-2186.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABdIwecEe3mWONbBv5ETjkOWnh38VpwokTcdjHgQKasJhYhLCYR73RQtLM9d2iLw2nLhaT6bXPbKB6gEaR6_brj-lvlagF9sPUUsL.jpg?r=97e&quot');
    background-size:contain;
    background-size: 100% 118%;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;

}

.theme{
    width: 450px;
    position: relative;
    top: 110px;
    left: 73px;
}

.info{
    /* border: 1px solid white; */
    width: 510px;
    height: 190px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    position: relative;
    top: 160px;
    left: 70px;
}

.line{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid white; */
    width: 270px;
    color: #a3a3a3;
}

.line a{
    text-decoration: none;
    color: #a3a3a3;
}

.box{
    display: flex;
    align-items: center;
    width: 90%;
    height: 65px;
    margin: auto;
    border-radius: 5px;
    /* border: 1px solid white; */
    position: relative;
    /* top: 220px; */
    background: linear-gradient(90deg, #6c1f41 -3.05%, #220e0f 99.59%);
}

.box img {
    width: 60px; /* Adjust the size of the image as needed */
    height: auto;
    margin-left: 3%;
    mix-blend-mode:overlay; /* Change blend mode to achieve desired effect */
}

.box div{
    /* border: 1px solid; */
    margin-left: 1%;
    width: 87%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* .box span{
    border: 1px solid;
} */

.box a{
    text-decoration: none;
    color: white;
    /* border: 1px solid; */
    padding: 12px 60px 12px 60px;
    /* width: 100px; */
    height: auto;
    /* margin-left: 64%; */
    background-color: red;
    border-radius: 5px;
}

.matter{
    position: relative;
    top: 12vh;
    margin: auto;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    height: 80px;
    width: 90%;
}
.matter span{
    position: relative;
    top: 20px;
    font-size: 17px;
    color: #a3a3a3;

}
.text{
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-top: 12%;
    margin-left: 5%;
    display: flex;
    /* border: 1px solid white; */
    width: 400px;
    height: 50px;
}
.text span{
    font-size: 33px;
}
.text p{
    font-size: 20px;
    color: #a3a3a3;
}
.container{
    position: relative;
    top: 10%;
    display: flex;
    justify-content: center;
    /* border: 1px solid white; */
    width: 100%;
    margin: auto;
    height: auto;
}
.slide-bar{
    /* border: 1px solid; */
    position: relative;
    overflow-x: scroll;
    height: 450px;
    width: 90%;
    margin: auto;
    margin-top: 1.5%;
}
.slider{
    position: relative;
    top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    overflow-x: scroll;
    width: 250%;
    margin: auto;
    /* border: 1px solid white; */
    height: 425px;
}
.video{
    width: 1600px;
    height: 85%;
    /* border: 1px solid; */
}
.video img{
    width: 100%;
    height: 100%;
    margin-bottom: 4%;
}
.video span{
    font-size: 17px;
    /* color: #a3a3a3; */
}


/* Hide scrollbar for Chrome, Safari and Opera */
.slide-bar::-webkit-scrollbar  , .slider::-webkit-scrollbar{
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.slide-bar , .slider{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.arrow{
    position: relative;
    width: 35px;
    color: red;
}
.left-arrow{
    left: 2%;
}
.right-arrow{
    right: 2%;
    transform: rotate(180deg);
}
.down-arrow{
    transform: rotate(270deg);
}
/* .ses1{
    border: 1px solid;
    margin-top: 3%;
    margin-left: 6%;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    display: flex;
} */
.ses1 button{
    position: relative;
    font-size: 17.5px;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-left: 4.6%;
    border: none;
    color: white;
    background-color: #181818;
}
.season-btn{
    position: relative;
    border: 1px solid;
    margin-left: 4.3%;
    width: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    /* display: block; */
}
.season-btn button{
    position: relative;
    top: -5px;
    border: none;
    color: white;
    background-color: #181818;
    font-size: 17.5px;
    margin: 1.5%;
}
.season-btn button:hover{
    background-color: #2789cf;
}
.year{
    position: relative;
    top: 2.5vh;
    left: 5.2%;
    width: 620px;
    height: auto;
    /* border : 1px solid white; */
}
.year span{
    font-size: 18px;
}
.year p{
    margin-top: 2%;
    font-size: 17px;
    color: #a3a3a3;

}
.season1{
    position: relative;
    top: 6vh;
    margin: auto;
    width: 90%;
    height: 600px;
    /* border : 1px solid white; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;

}
/* .outer{
    border: 1px solid white;
} */
.outer div{
    /* border: 1px solid white; */
    width: 100%;
    height: 70%;
    background-repeat: no-repeat;
    background-size: cover;

}
.outer span{
    width: 100%;
    /* border: 1px solid white; */
    font-size: 18px;
}
.outer p{
    width: fit-content;
    /* border: 1px solid white; */
    font-size: 13px;
    color: #a3a3a3;

}




@media screen and (max-width: 1030px){
    .nav-ele span{
        display: none;
    }
    
}

@media screen and (max-width:600px) {
    .logo{
        content: url('https://tse1.mm.bing.net/th?id=OIP.x8JNNxnTgNb9kH1dYroYdAHaE8&pid=Api&P=0&h=180');
        width: 100px;
        height: 60px;
    }
}
